################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/NUnit.3.7.1
/StateSerializer/bin/Debug
/StateSerializer/obj
